In [38]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null

# Use a stable Spark mirror link
!wget -q https://archive.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz -O spark.tgz

# Extract the downloaded tar file
!tar xf spark.tgz

# Install findspark
!pip install -q findspark

In [39]:
import os

# Set environment paths
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

# Verify
print("Environment paths set successfully!")

Environment paths set successfully!

In [40]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Practice_PySpark") \
    .getOrCreate()

sc = spark.sparkContext
print("Spark session created successfully!")

Spark session created successfully!

In [41]:
data = [
    ("mardan", 22),("1",20 ),
    ("charsadda", 28),("2",24 ),
    ("chitral", 18),("3", 30),
    ("isb", 30),("4", 27),
    ("peshawar", 35),("5", 28),
    ("karachi", 20),("6",30 ),
    ("lahore", 33),("7", 33),
    ("gilgit ", 25),("8", 19),
    ("multan", 29),("9", 15),
    ("karimabad", 24),("10",21 ),
    ("tirah", 23),("11", 19),
    ("mohmand", 15),("12", 15),
    ("RYK", 40),("13",21 )]

In [42]:
rdd_cel = sc.parallelize(data)

In [43]:
rdd_cel.take(5)

[('mardan', 22), ('1', 20), ('charsadda', 28), ('2', 24), ('chitral', 18)]

In [44]:
rdd_fah = rdd_cel.mapValues(lambda c: c*9/5 + 32)

In [45]:
rdd_fah.take(5)

[('mardan', 71.6),
 ('1', 68.0),
 ('charsadda', 82.4),
 ('2', 75.2),
 ('chitral', 64.4)]

In [46]:
print(rdd_cel.keys().distinct().collect())
print(rdd_fah.keys().distinct().collect())

['3', '4', 'peshawar', '5', 'karachi', '6', 'lahore', '7', 'gilgit ', '10', 'tirah', 'mohmand', 'RYK', '13', 'mardan', '1', 'charsadda', '2', 'chitral', 'isb', '8', 'multan', '9', 'karimabad', '11', '12']
['3', '4', 'peshawar', '5', 'karachi', '6', 'lahore', '7', 'gilgit ', '10', 'tirah', 'mohmand', 'RYK', '13', 'mardan', '1', 'charsadda', '2', 'chitral', 'isb', '8', 'multan', '9', 'karimabad', '11', '12']

In [47]:
data2 = list(range(1,40))

In [48]:
rdd_partitioned = sc.parallelize(data2,3)

In [49]:
rdd_partitioned.getNumPartitions()

3

In [50]:
rdd_partitioned.glom().collect()

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26],
 [27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]]

In [51]:
sorted_ids = rdd_partitioned.sortBy(lambda x: x).collect()